<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Avalible tickets:</strong>
    <%= event.avalible_tickets %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>
  
  <p>
    <strong>tickets remain:</strong>
    <%= event.tickets_still_avaliable %>
  </p>
  

  <p>
    <strong>Capacity:</strong>
    <%= event.capacity %>
  </p>

</div>
