
<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<section id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</section>

<%= link_to "New event", new_event_path %>

<section id="avaliables">
  <h3> still avaliable</h3>
<% @ticket_avaliable.each do |event| %>
  <p>
    <%= render event%>
  </p>
<% end %>
</section>
